.venv
.idea
.git
.DS_Store
dataset/
Design & Document
job_descriptions/
k8s
mlruns
scripts
a.json.gz
AWSLambda.py
b505884acfc54ddd883f1e496bdb7b2f.json
batch.parquet
cal_avg_word_count.py
clean_jd.py
data.avro
job_application.pb
job_application.proto
job_application_pb2.py
migrate_tensorboard_to_mlflow.py
model_eveluate_job_description.txt
solution1.ipynb
solution2_keyword_based.ipynb
solution3.ipynb
solution4_sentence_bert.ipynb
models/model_arch_*
models/best_model_*.pt
README.md
*.ipynb
__pycache__/
.venvapi